<template name="stepSubmit">

  {{#autoForm collection="Steps" id="insertStepForm" type="insert" template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10"}}

    <fieldset>
      <legend>Add a Step</legend>
      <div class="row">
        <div class="col-sm-6">
          {{> afQuickField autofocus='' value=componentNumberHelper name='componentNumber'}}
        </div>
        <div class="col-sm-6">
          {{> afQuickField value=parentLinkHelper name='parentLink'}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{> afQuickField value=orderHelper name='order'}}
        </div>
        <div class="col-sm-3">
          {{> afQuickField name='pager'}}
        </div>
        <div class="col-sm-3">
          {{> afQuickField value='0' name='timerLength'}}
        </div>
      </div>
      {{> afQuickField name='title'}}
      {{> afQuickField name='titleEs'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Insert</button>

  {{/autoForm}}

</template>
