/**
 * Primary elements
 */
body {
  background-image: url("/images/seamless_paper_texture.png");
}

.container {
  max-width: 1024px;
  background: #FFF;
  overflow: hidden;
}

/**
 * Component
 */

.navigation {
  padding-top: 20px;
  padding-bottom: 20px;
}

.component-edit-btns {
  margin-top: 20px;
}

/**
 * Steps
 */
.step-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.step {
  opacity: 0;
  -webkit-transform: translate3d(-3000px, 0, 0);
  transform: translate3d(-3000px, 0, 0);
}


/**
 * Forms
 */
.disabled {
  cursor: not-allowed;
  background-color: #EEE;
  color: #9E9999;
}
