/**
 * Primary elements
 */
body {
  background-image: url("/images/seamless_paper_texture.png");
}

.container {
  max-width: 1024px;
  background: #FFF;
}

/**
 * Component
 */

.navigation {
  padding-top: 20px;
  padding-bottom: 20px;
}

.component-edit-btns {
  margin-top: 20px;
}

/**
 * Steps
 */
.step {
  margin-top: 10px;
  margin-bottom: 10px;
}
