/**
 * Primary elements
 */
body {
  background-image: url("/images/seamless_paper_texture.png");
}

.container {
  max-width: 1024px;
  background: #FFF;
}

/**
 * Component
 */

.navigation {
  background: #333;
  padding: 20px;
}
