<template name="components">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <h3>Components</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>
              {{#if $.Session.equals 'currentLanguage' 'en'}}
                Title
              {{else}}
                Título
              {{/if}}
            </th>
            {{#if currentUser}}
              <th>
              {{#if $.Session.equals 'currentLanguage' 'en'}}
                Operations
              {{else}}
                Operaciones
              {{/if}}
              </th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each components}}
            <tr>
              <td><a href="{{pathFor "component"}}">{{componentNumber}}</a></td>
              <td><a href="{{pathFor "component"}}">
                {{#if $.Session.equals 'currentLanguage' 'en'}}
                  {{componentTitle}}
                {{else}}
                  {{componentTitleEs}}
                {{/if}}
              </a></td>
              {{#if currentUser}}
                <td>
                  <a class="btn btn-info" href="{{pathFor "steps"}}">Edit steps</a>
                  {{> quickRemoveButton collection="Components" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{#if currentUser}}
        <a class="btn btn-primary" href="components/submit">Add new component</a>
      {{/if}}
    </div>
  </div>
</template>
