<template name="component">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">

      {{#if currentUser}}
      {{/if}}

      {{#with component}}
        <div class="component">
          <div class="row">
            <div class="col-md-8">
              <h3>
                {{#if currentUser}}
                  <span id="text" data-type="text" data-field-name="componentNumber">
                    {{#if componentNumber}}
                      {{componentNumber}}
                    {{else}}
                      ####
                    {{/if}}
                  </span>
                  -
                {{/if}}

                {{#if $.Session.equals 'currentLanguage' 'en'}}

                  <span
                    id="text" data-type="text" data-pk="{{_id}}"
                    data-value="{{componentTitle}}" data-context="Components"
                    data-field-name="{{componentTitle}}"
                  >
                    {{componentTitle}}
                  </span>

                {{else}}

                  <span id="text" data-type="text" data-field-name="componentTitleEs">
                    {{#if componentTitleEs}}
                      {{componentTitleEs}}
                    {{else}}
                      ----
                    {{/if}}
                  </span>

                {{/if}}
              </h3>
            </div>
            <div class="col-md-4 component-edit-btns">
              <a href="#" id="edit-link" class="btn btn-primary">Edit</a>
              {{> quickRemoveButton collection="Components" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}
            </div>
          </div>

          <hr>

          <div class="row">

            {{#if currentOrder}}

              <!-- Video -->
              <div class="col-md-5">
                <video id="stepVideo" class="video-js vjs-default-skin" controls preload="auto" width="320" height="240" data-setup="{}">
                  <source src="#" type='video/mp4' />
                </video>
              </div>

              <!-- Step Audio -->
              <audio id="stepAudio">
                <source src="#" type="audio/mpeg">
              </audio>

              <!-- Steps -->
              <div class="col-md-7 steps">
                {{#each steps}}
                  <div id="step-{{link}}" data-order="{{order}}" class="step-container">
                    <div data-link="{{link}}" class="step">
                      {{> step}}
                    </div>
                  </div>
                {{/each}}

                {{#if currentUser}}
                  <a class="btn btn-primary" href="/steps/submit?componentNumber={{component.componentNumber}}&link={{component.componentLink}}">Add new step</a>
                {{/if}}
              </div>

            {{else}}

              <!-- Body -->
              <div class="col-md-offset-2 col-md-8">

                <audio id="bodyAudio">
                  <source src="/audio/0101/intro.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <!-- Body - English -->
                {{#if $.Session.equals 'currentLanguage' 'en'}}
                  <p id="textArea" data-inputclass="ta-edit"
                    data-type="textarea"
                    data-field-name="componentBody">
                    {{componentBody}}
                  </p>

                <!-- Body - Spanish -->
                {{else}}
                  <p id="textArea" data-inputclass="ta-edit"
                    data-type="textarea" data-field-name="componentBodyEs">
                    {{componentBodyEs}}
                  </p>
                {{/if}}

              <!-- Body Audio -->

              </div>

            {{/if}}

          </div><!-- /row -->

        </div><!-- /component -->
      {{/with}}

      <div class="navigation">
        {{#if currentOrder}}
          <div class="btn-group btn-group-lg btn-group-justified" role="group" >
            <a href="#" id="start-over" class="btn btn-default start-over">Start over</a>
            <a href="#" id="back" class="btn btn-default">Back</a>
            <a href="#" id="forward" class="btn btn-default">Forward</a>
          </div>
        {{else}}
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="btn-group btn-group-lg btn-group-justified" role="group" >
                <a href="#" id="begin" class="btn btn-default">Begin</a>
              </div>
            </div>
          </div>
        {{/if}}
      </div>

      <hr>
      <h3>Session test</h3>
      {{#if currentOrder}}
        Current order - {{currentOrder}}
      {{else}}
        Current order - 0
      {{/if}}
      <hr>



    </div>
  </div>
</template>


<template name="step">
  {{order}} -
  {{#if $.Session.equals 'currentLanguage' 'en'}}
    {{title}}
  {{else}}
    {{titleEs}}
  {{/if}}
  {{#if currentUser}}
     - <a class="edit-step-link btn btn-primary btn-xs" href="#">Edit</a>
    {{> quickRemoveButton collection="Steps" _id=this._id beforeRemove=beforeRemove class="btn btn-danger btn-xs"}}
  {{/if}}

</template>

