<template name="componentSubmit">

  {{#autoForm collection="Components" doc=this id="insertComponentsForm" type="insert" template="bootstrap3-horizontal" label-class="col-md-2" input-col-class="col-md-10"}}

    <fieldset>
      <legend>Add a component</legend>
      {{> afQuickField autofocus='' name='componentNumber'}}
      {{> afQuickField name='componentTitle'}}
      {{> afQuickField name='componentTitleEs'}}
      {{> afQuickField name='componentLink'}}
      {{> afQuickField name='componentBody'}}
      {{> afQuickField name='componentBodyEs'}}
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}

</template>
