<template name="component">
  <div class="row">
    <div class="col-lg-12">
      <a href="{{pathFor 'components'}}">← Back</a>

      {{#with component}}
      <div class="component">
        <h3>

          <span
            id="text"
            class="editable"
            data-display="false"
            data-type="text"
            data-field-name="componentNumber"
            data-rows="4">
            {{#if componentNumber}}
              {{componentNumber}}
            {{else}}
              ####
            {{/if}}
          </span>
          -
          <span
            id="text"
            class="editable"
            data-display="false"
            data-type="text"
            data-field-name="title"
            data-rows="4">
            {{title}}
          </span>

        </h3>
        <p
          id="textArea"
          class="editable"
          data-display="false"
          data-type="textarea"
          data-placeholder="Enter text"
          data-emptytext="Click to enter text"
          data-field-name="body"
          data-rows="4">
          {{body}}
        </p>
      </div>
      {{/with}}

      {{#each pages}}
        <a href="{{pathFor 'page'}}">
          {{title}}
        </a>
      {{/each}}

      <div class="navigation">
        <div class="btn-group btn-group-justified" role="group" >
          <a href="#" id="start-over" class="btn btn-default start-over">Start over</a>
          <a href="#" id="back" class="btn btn-default">Back</a>
          <a href="#" id="forward" class="btn btn-default">Forward</a>
        </div>
      </div>

    </div>
  </div>
</template>
