<template name="component">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">

      {{#with component}}
        <div class="component">
          <div class="row">
            <div class="col-sm-8">
              <h3>
                {{#if currentUser}}
                  <span id="text" data-type="text" data-field-name="componentNumber">
                    {{#if componentNumber}}
                      {{componentNumber}}
                    {{else}}
                      ####
                    {{/if}}
                  </span>
                  -
                {{/if}}

                {{#if $.Session.equals 'currentLanguage' 'en'}}

                  <span
                    id="text" data-type="text" data-pk="{{_id}}"
                    data-value="{{componentTitle}}" data-context="Components"
                    data-field-name="{{componentTitle}}"
                  >
                    {{componentTitle}}
                  </span>

                {{else}}

                  <span id="text" data-type="text" data-field-name="componentTitleEs">
                    {{#if componentTitleEs}}
                      {{componentTitleEs}}
                    {{else}}
                      ----
                    {{/if}}
                  </span>

                {{/if}}
              </h3>
            </div>
            {{#if currentUser}}
              <div class="col-sm-4 component-edit-btns">
                <a href="#" id="edit-link" class="btn btn-primary">Edit</a>
                {{> quickRemoveButton collection="Components" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}
              </div>
            {{/if}}
          </div>

          <div class="row instruction-area">

            {{#if currentOrder}}

              <div class="col-sm-5">
                <!-- Step Video -->
                <video id="stepVideo" class="video-js vjs-default-skin" preload="auto" width="320" height="240" data-setup="{}">
                  <source src="/video/{{componentNumber}}/{{currentOrderPad}}.mp4?ipou" type='video/mp4' />
                </video>

                <!-- Step Audio -->
                <audio id="stepAudio">
                  <source src="/audio/{{componentNumber}}/{{currentOrderPad}}-{{currentLanguage}}.mp3?jfdksl" type="audio/mpeg">
                </audio>

                {{#if currentUser}}
                  <a class="btn-add-step btn btn-primary" href="/steps/submit?componentNumber={{componentNumber}}&link={{componentLink}}&order={{newStepOrder}}">Add new step</a>
                {{/if}}

              </div>

              <!-- Steps -->
              <div class="col-sm-7 steps">
                {{#each steps}}
                  <div id="step-{{link}}" data-order="{{order}}"
                  data-pager="{{#if pager}}true{{else}}false{{/if}}"
                  class="step-container">
                    <div data-link="{{link}}" class="step">
                      {{> step}}
                    </div>
                  </div>
                {{/each}}
              </div>

            {{else}}

              <!-- Body -->
              <div class="col-sm-offset-1 col-sm-10">

                <!-- Body audio -->
                <audio id="bodyAudio">
                  <source src="/audio/{{componentNumber}}/intro-{{currentLanguage}}.mp3?fsdjkl" type="audio/mpeg">
                </audio>
                <!-- Body text - English -->
                {{#if $.Session.equals 'currentLanguage' 'en'}}
                  <pre class="copy">
                    {{componentBody}}
                  </pre>

                <!-- Body text - Spanish -->
                {{else}}
                  <pre class="copy">
                    {{componentBodyEs}}
                  </pre>
                {{/if}}

                <!-- Mouse position for development -->
                <!-- {{mouseCoord}} -->

              <!-- Body Audio -->

              </div>

            {{/if}}

          </div><!-- /row -->

        </div><!-- /component -->
      {{/with}}

      <div class="navigation">
        {{#if currentOrder}}
          <div class="btn-group btn-group-lg btn-group-justified" role="group" >

            <!-- Reset -->
            <a href="#" id="start-over" class="btn btn-default start-over">
              {{#if $.Session.equals 'currentLanguage' 'en'}}
                Reset
              {{else}}
                Reiniciar
              {{/if}}
            </a>

            <!-- Back -->
            {{#if $neq currentOrder 1}}
              <!-- Only display back when it isn't the same as Reset -->
              <a href="#" id="back" class="btn btn-default">
                {{#if $.Session.equals 'currentLanguage' 'en'}}
                  Previous
                {{else}}
                  Anterior
                {{/if}}
              </a>
            {{/if}}

            <!-- Next -->
            {{#if $neq currentOrder maxOrder}}
              <!-- Only display forward if you're not at the end -->
              <a href="#" id="forward" class="btn btn-primary">
                {{#if $.Session.equals 'currentLanguage' 'en'}}
                  Next
                {{else}}
                  Siguiente
                {{/if}}
              </a>
            {{/if}}

          </div>
        {{else}}

          <!-- Begin -->
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="btn-group btn-group-lg btn-group-justified" role="group" >
                <a href="#" id="begin" class="btn btn-default">
                  {{#if $.Session.equals 'currentLanguage' 'en'}}
                    Begin
                  {{else}}
                    Comenzar
                  {{/if}}
                </a>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>


<template name="step">
  {{order}} -
  {{#if $.Session.equals 'currentLanguage' 'en'}}
    {{title}}
  {{else}}
    {{titleEs}}
  {{/if}}
  {{#if currentUser}}
     - <a class="edit-step-link btn btn-primary btn-xs" href="#">Edit</a>
    {{> quickRemoveButton collection="Steps" _id=this._id beforeRemove=beforeRemove class="btn btn-danger btn-xs"}}
  {{/if}}

</template>

