<template name="footer">
  <div class="footer">

    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
        <div class="language-switch">
          <div class="btn-group btn-group-md btn-group-justified lang-switches" role="group" >
            <a href="#" id="en" class="btn btn-default {{#if $.Session.equals 'currentLanguage' 'en'}}active{{/if}} en-switch">English</a>
            <a href="#" id="es" class="btn btn-default {{#if $.Session.equals 'currentLanguage' 'es'}}active{{/if}} es-switch">Español</a>
          </div>
        </div>
      </div>
    </div>

    {{#if disablingLoginMessage}}
      <div class="row">
        <div class="col-lg-6">
          {{#if currentUser}}
            You're logged in as {{accountEmail}} - <a href="/sign-out">Sign out</a>
          {{else}}
            <a href="/sign-in">Log in</a>
          {{/if}}
        </div>
      </div>
    {{/if}}

  </div>
</template>
